.particlesContainer{
    height: 100vh;
    left: 0;
    position: fixed;
    pointer-events: none!important;
    top: 0;
    width: 100vw;
    z-index: -1;
    
    &__particles{
        height: 100vh;
        left: 0;
        position: fixed;
        pointer-events: none!important;
        top: 0;
        width: 100vw;
        z-index: -1;
    }
}
