.proyectos{
    display: flex;

    &__filtro{
        border-right: 2px solid map-get($map: $colors, $key: secondary);
        margin: 2em 1em 2em 3em;

        &__container{
            left: 0;
            position: sticky;
            top:100px;

            &__vendor{
    
                &-title{
                    color: map-get($map: $colors, $key: secondary);
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }

            &__links{
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                &-item{
                    color: map-get($map: $colors, $key: secondary);
                    font-size: 1.1rem;
                    font-weight: 500;
                    position: relative;
                    text-decoration: none;
                    transition: transform .3s ease-in-out;
    
                    &:hover{
                        transform: translateX(5px);

                        &:before{
                            opacity: 1;
                            transform: translateX(-23px) rotate(360deg);
                        }
                    }
                    
                    &:before{
                        color: map-get($map: $colors, $key: secondary);
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        top: 2px;
                        transform: translateX(0px) rotate(180deg);
                        transition: all .3s ease-in-out;
                    }

                    &.active{
                        transform: translateX(5px);
                        
                        &:before{
                        opacity: 1;
                        transform: translateX(-23px) rotate(360deg);
                        }
                    }
                }

                &-item:nth-child(1){

                    &:before{
                        content: '\f005';
                    }
                }
                
                &-item:nth-child(2){

                    &:before{
                        content: "\f07c";
                    }
                }
                &-item:nth-child(3){

                    &:before{
                        content: "\f017";
                    }
                }

            }
        }
    }

    &__trabajos{
        display: flex;
        flex-direction: column;
        margin: 2em 1.5em;

        &__vendor{
            
            &-title{
                color: map-get($map: $colors, $key: secondary);
                font-size: 1.5rem;
                font-weight: 800;
            }
        }

        &__container{

            &__item{
                align-items: center;
                border-bottom: 2px solid map-get($map: $colors, $key: secondary);
                display: flex;
                
                &__img{
                    border-right: 2px solid map-get($map: $colors, $key: secondary);
                    padding: 1.5em;
                }

                &__info{

                    &__vendor{
                        padding: 1em 0;
                        padding-left: 1em;

                        &-title, &-subtitle, &-description{
                            color: map-get($map: $colors, $key: secondary);
                            margin: 5px 0;
                        }

                        &-title{
                            font-size: 1.3rem;
                        }

                        &-subtile{
                            font-size: 1.1rem;
                        }

                        &-description{
                            font-size: 1rem;
                        }
                    }

                    &__technologies{
                        border-top: 2px map-get($map: $colors, $key: secondary) solid;
                        border-bottom: 2px map-get($map: $colors, $key: secondary) solid;
                        display: flex;
                        flex-flow: wrap;
                        padding: 1em;

                        &-item{
                            border: 4px map-get($map: $colors, $key: tertiary) solid;
                            color: map-get($map: $colors, $key: secondary);
                            font-size: 1rem;
                            font-weight: 500;
                            margin: .3em .5em;
                            padding: 0 1em;
                            position: relative;
                            text-decoration: none;

                            background-image: linear-gradient(45deg, map-get($colors, tertiary) 0 calc(50% - 10px), map-get($colors, secondary) calc(50% - 10px) calc(50% + 10px), map-get($colors, primary) calc(50% + 10px) 100%);
                            background-size: 275% 100%;
                            background-position: 100% 50%;
                            transition: all .5s;
                            &:hover{
                                background-position: 1% 50%; 
                                transition: .5s all;
                            }
                        }
                    }

                    &__links{
                        padding: 2em 0;
                        width: 100%;

                        &-item{
                            border: 4px solid map-get($map: $colors, $key: tertiary);
                            color: map-get($map: $colors, $key: secondary);
                            font-size: 1rem;
                            font-weight: bold;
                            margin: 0 1em;
                            padding: .3em .8em;
                            text-decoration: none;

                            background-image: linear-gradient(45deg, map-get($colors, tertiary) 0 calc(50% - 10px), map-get($colors, secondary) calc(50% - 10px) calc(50% + 10px), map-get($colors, primary) calc(50% + 10px) 100%);
                            background-size: 275% 100%;
                            background-position: 100% 50%;
                            transition: all .5s;

                            &:hover{
                                background-position: 1% 50%; 
                                transition: .5s all;
                            }

                            i{
                                margin-right: 10px;
                            }
                        }
                    }
                }

            }
        }

        &__more{
            margin: auto;

            &-btn{
                background-color: transparent;
                border: 4px map-get($map: $colors, $key: tertiary) solid;
                color: map-get($map: $colors, $key: secondary);
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: 500;
                margin: 1em;
                outline: none;
                padding: .5em 1em;
                position: relative;
                text-decoration: none;
                width: auto;

                background-image: linear-gradient(45deg, map-get($colors, tertiary) 0 calc(50% - 10px), map-get($colors, secondary) calc(50% - 10px) calc(50% + 10px), map-get($colors, primary) calc(50% + 10px) 100%);
                background-size: 275% 100%;
                background-position: 100% 50%;
                transition: all .5s;
                &:hover{
                    background-color: map-get($map: $colors, $key: tertiary);
                    background-position: 1% 50%; 
                    transition: .5s all;
                }

                &.loader{

                    &::before{
                        background-color: map-get($map: $colors, $key: primary);
                        content: '';
                        left: 0;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }

                    &::after{
                        animation: rotateLoader 1s infinite linear;
                        border: 2px solid map-get($colors, tertiary);
                        border-left: 2px solid map-get($map: $colors, $key: secondary);
                        border-radius: 50%;
                        content: '';
                        height: 30px;
                        position: absolute;
                        right: calc(50% - 1em);
                        top: calc(50% - .9em);
                        width: 30px;
                    }
                }
                &:disabled{
                    cursor: default;
                }
            }
        }
    }
}

@keyframes rotateLoader {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}